<div class = "container">
  <img class = "event-image" [src]="event?.imageUrl" [alt]="event?.name" />

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name | uppercase}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date | date}}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> {{event?.price | currency: 'USD'}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
  </div>

  <hr>

  <div class = "row session-list-header">
    <div class = "col-md-2">
      <h3>Sessions</h3>
    </div>
    <div class = "col-md-7">
      <div class = "btn-group btn-group-sm sorting-buttons">
        <button class = "btn btn-default" [class.active] = "sortBy === 'name'" (click) = "sortBy = 'name'">
          By Name
        </button>
        <button class = "btn btn-default" [class.active] = "sortBy === 'votes'" (click) = "sortBy = 'votes'">
          By Votes
        </button>
      </div>
      <!--
        btn-group is a great way to make your buttons more presentable.
      -->
      <div class = "btn-group btn-group-sm">
        <!--
        Filtering the events is done through the buttons below.

        "class.active" will apply the "active" class to this button if the condition in the "" are met.
        In this case, it will check to see if the "filterBy" variable in the component class is equal to 'all'.
        When the button is clicked, it will set the "filterBy" variable to 'all'.
        -->
        <button class = "btn btn-default" [class.active] = "filterBy === 'all'" (click) = "filterBy = 'all'">
          All
        </button>
        <button class = "btn btn-default" [class.active] = "filterBy === 'beginner'" (click) = "filterBy = 'beginner'">
          Beginner
        </button>
        <button class = "btn btn-default" [class.active] = "filterBy === 'intermediate'" (click) = "filterBy = 'intermediate'">
          Intermediate
        </button>
        <button class = "btn btn-default" [class.active] = "filterBy === 'advanced'" (click) = "filterBy = 'advanced'">
          Advanced
        </button>
      </div>
    </div>
    <div class = "col-md-2">
      <a (click) = "addSession()">Add Session</a>
    </div>
  </div>
  <!--
    Remember that the values in [] are being given to that HTML tag's component class.
    Basically, the value in the [] is in the HTML tag's component class and the value in the "" is in the component class here.
  -->
  <session-list *ngIf = "!addMode" [sessions] = "event?.sessions" [filterBy] = "filterBy" [sortBy] = "sortBy"></session-list>
  <create-session *ngIf = "addMode" (saveNewSession) = "saveNewSession($event)" (cancelAddSession) = "cancelAddSession()"></create-session>
</div>
